.siderComponent {
  background-color: #404E67;
  .logo {
    display: flex;
    align-items: center;
    height: 4rem;
    padding-left: 15px;
    font-size: 1.74rem;
    color: #FFF;
    box-shadow: 2px 4px 20px -4px rgba(0, 0, 0, .1);
  }
  &:not(.ant-layout-sider-collapsed) {
    .logo {
      img {
        margin-right: 10px;
      }
    }
  }
  &.ant-layout-sider-collapsed {
    .anticon {
      font-size: 16px;
    }
    .nav-text {
      display: none;
    }
  }
  .ant-menu {
    background-color: transparent;
    li {
      font-size: 14px;
      &:hover, &.ant-menu-item-selected {
        background-color: #38445A;
        color: inherit;
      }
      &.ant-menu-item-selected {
        color: #00B5B8;
      }
    }
  }
}