.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  > form {
    width: 320px;
    padding: 36px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);
    .title {
      margin-bottom: 24px;
      font-size: 16px;
      text-align: center;
    }
    button[type="submit"] {
      width: 100%;
    }
  }
  .blockBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size: 1.74rem;
    > img {
      margin-right: 10px;
    }
  }
}